body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: papayawhip;
}

#cabecera {
    background-color: blueviolet;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.75);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#container {
    width: 70%;
    padding: 1rem;
    border: 2px solid black;
    margin: 0;
}